ul#photoAlbum{
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
}
ul#photoAlbum li{
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 3px solid rgb(254, 253, 253);
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .4) ;
  transition: all .4s ease-in
}
ul#photoAlbum li span{
  opacity: 0;
  color: white  ;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, .3);
  font-size: 9pt;
  line-height: 370px;
  padding: 5px;
}
ul#photoAlbum li:hover span{
  opacity: 1;
}
ul#photoAlbum li:hover{
  transform: scale(1.5);
}

ul#photoAlbum li#photo1{
  background: url('/projeto-glass-html5/_imagens/galeria-01.jpg') no-repeat;
  background-position: 50% 50%; 
  background-size: 400px 400px;
  background-color: #ffffff;
}
ul#photoAlbum li#photo1:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
  
}
ul#photoAlbum li#photo2{
  background: url('/projeto-glass-html5/_imagens/galeria-02.jpg') no-repeat;
  background-position: 50% 50%; 
  background-size: 400px 400px;
  background-color: #ffffff;
}
ul#photoAlbum li#photo2:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#photoAlbum li#photo3{
  background: url('/projeto-glass-html5/_imagens/galeria-03.jpg') no-repeat;
  background-position: 50% 50%; 
  background-size: 400px 400px;
  background-color: #ffffff;
}
ul#photoAlbum li#photo3:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#photoAlbum li#photo4{
  background: url('/projeto-glass-html5/_imagens/galeria-04.jpg') no-repeat;
  background-position: 50% 50%; 
  background-size: 400px 400px;
  background-color: #ffffff;
}
ul#photoAlbum li#photo4:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#photoAlbum li#photo5{
  background: url('/projeto-glass-html5/_imagens/galeria-05.jpg') no-repeat;
  background-position: 50% 50%; 
  background-size: 400px 400px;
  background-color: #ffffff;
}
ul#photoAlbum li#photo5:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#photoAlbum li#photo6{
  background: url('/projeto-glass-html5/_imagens/galeria-06.jpg') no-repeat;
  background-position: 50% 50%; 
  background-size: 400px 400px;
  background-color: #ffffff;
}
ul#photoAlbum li#photo6:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
