
div#tv-radio{
  width: 900px;
  height: 580px;
  margin: auto;
  background: url("/projeto-glass-html5/_imagens/radio-tv.png") no-repeat;
}
audio#music{
  display: block;
  position: relative;
  left:570px ;
  top: 500px;
  width: 310px;
  height: 35px;
}
video#films{
  display: block;
  position: relative;
  left:90px ;
  top: 85px;
  width: 440px;
}